*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

nav{
	margin: 50px auto;
	width: 960px
}
.list-item{
	padding: 20px;
	list-style: none;
}
.list-item:nth-child(odd){
	background-color: #f2f2f2;
}


.box{
	width: 960px;
	margin: 0 auto;
	padding-bottom: 50px;
	font-size: 0;
}
.box-item{
	width: 30%;
	height: 200px;
	background-color: yellow;
	display: inline-block;
}
.box-item:nth-child(1){
	background-color: orange;
}
.box-item:nth-child(2){
	margin: 0 5%;
}
.box-item:nth-child(4){
	margin: 40px 0;
}
.box-item:nth-child(5){
	margin: 40px 5%;
	background-color: orange;
}
.box-item:nth-child(6){
	margin: 40px 0;
}
.box-item:nth-child(8){
	margin: 0 5%;
}
.box-item:nth-child(9){
	background-color: orange;
}